extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.jspass.com/static/css/merge/profile_index.merge.css")}')
block header
    div.mod-profile-header-wrap
        include ../share/header
        include ../share/profileHeader
block content
    div.mod-profile
        each collect, index in collects
            if(collect.photoCount >= 4)
                div.photo-group(data-id="#{collect.id}")
                    each photo, index in collect.photoDTOList
                        div(class="photo-item item#{index+1}")
                            img.lazy(data-original="#{photo.filePath}")
block js
    script(src='#{staticFilter("//static.jspass.com/static/js/merge/profile_index.merge.js")}')
