extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.mgcheng.com/static/css/merge/profile_index.merge.css")}')
block header
    div.mod-profile-header-wrap
        include ../share/header
        include ../share/profileHeader
block content
    div.mod-profile
        each collect, index in collects
            if(collect.photoCount >= 4)
                div.photo-group.mod-photo(data-id="#{collect.id}" data-name="#{collect.name}")
                    each photo, index in collect.photoDTOList
                        div(class="photo-item item#{index+1}" style="background-image:url(#{photo.filePath})")
                    div.title-bottom
                        span.title-txt #{collect.name}
block js
    script(src='#{staticFilter("//static.mgcheng.com/static/js/merge/profile_index.merge.js")}')
