extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.mgcheng.com/static/css/merge/profile_package.merge.css")}')
block header
    div.mod-profile-header-wrap
        include ../share/header
        include ../share/profileHeader
block content
    div.mod-package
        div.pack-wrap
            //- div.pack-type-wrap
                div.pack-type.type-focus 生 活
                div.middle-line
                div.pack-type 集 体
                div.middle-line
                div.pack-type 活 动
                div.middle-line
                div.pack-type 亲 子
            //div.pack-type-wrap
            //    div.pack-type 婚纱摄影
            //    div.middle-line
            //    div.pack-type 婚礼纪实
            //    div.middle-line
            //    div.pack-type 旅行跟拍
            //    div.middle-line
            //    div.pack-type 商业合作
            div.pack-list
                if (packages != undefined)
                    each item, index in packages
                        div.pack-block(data-id="#{item.id}" data-name="#{item.name}" data-price="#{item.price}")
                            div.pack-no #{index + 1}
                            div.pack-head-wrap
                                div.pack-name #{item.name}
                                div.pack-photo-num #{item.photoCount}张
                                div.pack-time #{item.days}天
                            div.pack-price #{item.price}
                            div.pack-detail
                                | !{item.description}
                            div.pack-select-btn.button.button-flat-primary.button-rounded 选择
        div.order-wrap
            div.calendar-main
                include ../module/calendar

            div.booking-box
                div.bk-info
                    div.bk-pack
                        ul.package-selected
                            span.bk-tag 套系：
                            span.bk-pack-name 请在左边面板选择一个套系
                        ul.date-selected
                            span.bk-tag 日期：
                            span.bk-date 请在上面和摄影师约定拍摄日期
                        ul
                            span.bk-tag 备注：
                            div.bk-note-container
                                textarea.bk-note(placeholder="请写点什么")
                        ul.date-selected
                            span.bk-tag 联系方式：
                            span #{owner.mobile}&nbsp;#{owner.email}
                div.bk-btn.button.button-flat-action.button-rounded 预 订
            div.reminding-wrap
                p.
                    * 建议您预订前先与摄影师沟通，确认具体时间和地点。<br/>
                    * 建议您完善基本信息并建立相册，以便摄影师更好地了解您。
block js
    -var ownerJson = JSON.stringify(owner)
    script.
        window.pageConfig.owner = !{ownerJson}

    script(src='#{staticFilter("//static.mgcheng.com/static/js/merge/profile_package.merge.js")}')