extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.mgcheng.com/static/css/merge/profile_trade.merge.css")}')
block header
    div.mod-profile-header-wrap
        include ../share/header
        include ../share/profileHeader
block content
    div.mod-trade
        div.mod-trade-main
            each item in comments.data
                div.main-container
                    div.main-block
                        a.trade-user-portrait
                            img(src= item.photoPath)
                        a.trade-user-name #{item.nickName}
                        div.main-intro
                            div.main-stars
                                if(item.score == 4.5)
                                    img(src="//static.mgcheng.com/static/css/profile/images/5stars.png")
                            div.trade-info (#{item.createAt} · #{item.packageName} · #{item.price}元)
                        div.main-comment
                            p #{item.content}
                        div.main-photo-group
                            each photo,i in item.photos
                                if (i < 7)
                                    a.item(id=i)
                                        img(src= photo.filePath)
                            if( item.photoNum > 7)
                                a.item#item-number
                                    span +#{item.photoCount-7} &nbsp


block js
    script(src='#{staticFilter("//static.mgcheng.com/static/js/merge/profile_trade.merge.js")}')