extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.mgcheng.com/static/css/merge/personal_order.merge.css")}')
block header
    div.mod-personal-header-wrap
        include ../share/header
        include ../share/personalHeader
block content
    div.mod-personal-order
        if !data || data.length == 0
            div.no-info
                div 您还没有预定过服务，现在就去
                a(href="/search") 搜索一下
        else
            table.order-table
                thead
                    tr
                        th 拍摄日期
                        th 摄影师
                        th 预订套系
                        th 已付金额
                        th 订单状态
                        th 下载
                        th 详情
                tbody
                    each item,index in data
                        - var statusTxt
                        case item.tradeOrder.status
                            when 'TOPREPAY': - statusTxt = '待付定金'
                            when 'TOCONFIRM': - statusTxt = '待确认'
                            when 'TODEAL': - statusTxt = '待拍摄'
                            when 'TOPAY': - statusTxt = '待付全款'
                            when 'FINISHED': - statusTxt = '完成'
                        tr(id="#{item.tradeOrder.number}")
                            td #{item.tradeOrder.validDate}
                            td
                                a(href="") #{item.tradeOrder.seller}
                            if item.tradeOrderItems.length > 0
                                td
                                    a(href="/profile/package/#{item.tradeOrder.seller}") #{item.tradeOrderItems[0].goodsName} (#{item.totalAmount}元)
                            td #{item.payedAmount}元
                            td #{statusTxt}
                            td
                                if item.tradeOrder.status == 'FINISHED'
                                    a.download-enabled
                            td
                                if item.tradeOrder.status == 'FINISHED'
                                    a(href="/personal/orderdetail/#{item.tradeOrder.number}") 查看并评价>
                                else
                                    a(href="/personal/orderdetail/#{item.tradeOrder.number}") 查看>

            div.page-wrap.page-wrap-thin

block footer
    include ../share/footer
block js
    if !!pageCount
        script.
            window.pageConfig.page = {
                pageCount: #{pageCount},
                pageIndex: #{pageIndex},
                pageSize: #{pageSize},
                resultCount: #{resultCount},
                start: #{start}
            }
    script(src='#{staticFilter("//static.mgcheng.com/static/js/merge/personal_order.merge.js")}')
