extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.mgcheng.com/static/css/merge/personal_orderdetail.merge.css")}')
block header
    div.mod-personal-header-wrap
        include ../share/header
        include ../share/personalHeader
block content
    div.mod-personal-orderdetail
        a(href="/personal/order") << 返回订单列表
        div.box#order-info
            div.title 订单详细信息
            if tradeOrder
                div.no
                    span No.&nbsp
                    span #{tradeOrder.number}
                table.body#tradeOrder(number="#{tradeOrder.number}" tradeOrderId="#{tradeOrder.id}")
                    tr
                        td
                            div.desc 预订人:
                            a#buyer #{tradeOrder.buyer}
                        td
                            div.desc 摄影师:
                            a#seller #{tradeOrder.seller}
                    tr
                        td
                            div.desc 预订日期:
                            div #{tradeOrder.createdAt}
                        td
                            div.desc 拍摄日期:
                            div #{tradeOrder.validDate}
                    tr
                        td
                            div.desc 预订套系:
                            div
                                if tradeOrderItems.length > 0
                                    - var item = tradeOrderItems[0].tradeOrderItem
                                    a#tradeOrderItem(href="/profile/package/#{tradeOrder.seller}" orderNumber="#{item.orderNumber}" tradeOrderItemId="#{item.id}") 《#{item.goodsName}》
                        td
                            div.desc 备注:
                            div #{tradeOrder.notes}

                    tr
                        td
                            div.desc 总价格:
                            div.price #{totalAmount} 元
                        td
                            div.desc 已付金额:
                            div.price #{payedAmount} 元
                    tr
                        td(colspan=2)
                            div.desc 订单状态:
                            div.status(id="#{tradeOrder.status}")
                    tr
                        td(colspan=2).bar
                            a(href='') 不熟悉交易流程？去看看详细解释吧 >>
                            - var userType = _user.type
                            case tradeOrder.status
                                when 'TOPREPAY'
                                    if userType == 'PHOTOGRAPHER'
                                        button.button.button-flat-primary.confirm-btn 确认订单
                                    else if userType = 'COMMON'
                                        button.button.button-flat-primary.confirm-btn 支付定金
                                when 'TOCONFIRM'
                                    if userType == 'PHOTOGRAPHER'
                                        button.button.button-flat-primary.confirm-btn 确认订单
                                when 'TODEAL'
                                    if userType == 'PHOTOGRAPHER'
                                        button.button.button-flat-primary.confirm-btn 完成拍摄
                                when 'TOPAY'
                                    if userType == 'PHOTOGRAPHER'
                                        button.button.button-flat-primary.confirm-btn 对方已支付
                                    else if userType = 'COMMON'
                                        button.button.button-flat-primary.confirm-btn 支付全款


        div.box#order-photo
            div.title 照片
            div.body
                div.photo-box
                    if tradeOrderItems.length > 0
                        each item in tradeOrderItems[0].photos
                            img(src="#{item.photoPath.replace('_X_X', '_THUMBNAIL_100_100')}")
                div.bar
                    div.icons
                        dis.desc 单张上传:
                        a.icon.upload
                        dis.desc 批量上传:
                        a.icon.uploadall
                        div.desc 打包下载:
                        a.icon.download
                        div.desc 全部删除:
                        a.icon.delete

        //- if tradeOrder.status == 'FINISHED'
        div.box#order-comments
            div.title 您的评价
            div.body
                ul
                    li
                        div.desc 满意度:
                        if tradeOrderItems.length > 0 && tradeOrderItems[0].tradeComments.length > 0
                            div.star-line(clicked="true" value="#{tradeOrderItems[0].tradeComments[0].score}")
                                div.star#score-1
                                div.star#score-2
                                div.star#score-3
                                div.star#score-4
                                div.star#score-5
                                div.score
                        else
                            div.star-line(clicked="false" )
                                div.star#score-1
                                div.star#score-2
                                div.star#score-3
                                div.star#score-4
                                div.star#score-5
                                div.score
                    li
                        div.desc 评论:
                        if tradeOrderItems.length > 0 && tradeOrderItems[0].tradeComments.length > 0
                            textarea#comment-content #{tradeOrderItems[0].tradeComments[0].content}
                        else
                            textarea#comment-content
                div.bar
                    button.button.button-flat-primary#submit-comments 提交

        a.button.button-flat.back-btn(href="/personal/order") 返回订单列表

block js
    script(src='#{staticFilter("//static.mgcheng.com/static/js/merge/personal_orderdetail.merge.js")}')
