extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.mgcheng.com/static/css/merge/personal_orderdetail.merge.css")}')
block header
    div.mod-personal-header-wrap
        include ../share/header
        include ../share/personalHeader
block content
    div.mod-personal-orderdetail
        a(href="/personal/order") << 返回订单列表
        div.box#order-info
            div.title 订单详细信息
            if tradeOrder
                div.no No. #{tradeOrder.number}
                table.body
                    tr
                        td
                            div.desc 摄影师:
                            a #{tradeOrder.seller}
                        td
                            div.desc 预订套系:
                            div
                                if tradeOrderItems.length > 0
                                    a(href='/profile/package/#{tradeOrder.seller}') 《#{tradeOrderItems[0].tradeOrderItem.goodsName}》
                    tr
                        td
                            div.desc 预订日期:
                            div #{tradeOrder.createdAt}
                        td
                            div.desc 拍摄日期:
                            div #{tradeOrder.validDate}
                    tr
                        td
                            div.desc 备注:
                            div #{tradeOrder.notes}
                        td
                    tr
                        td(colspan=2)
                            div.desc 订单状态:
                            div #{tradeOrder.status}
                    tr
                        td
                            div.desc 总价格:
                            div.price #{totalAmount} 元
                        td
                            div.desc 已付金额:
                            div.price #{payedAmount} 元
        div.box#order-photo
            div.title 照片
            div.body
                div.photo-box
                    if tradeOrderItems.length > 0
                        each item in tradeOrderItems[0].photos
                            img(src="#{item.photoPath.replace('_X_X', '_THUMBNAIL_100_100')}")
                div.bar
                    div.desc 打包下载:
                    a.download-enabled
                    button.delete-btn.ui-pillbutton.ui-pb-caution 全部删除
        div.box#order-comments
            div.title 您的评价
            div.body
                ul
                    li
                        div.desc 满意度:
                        if tradeOrderItems.length > 0 && tradeOrderItems[0].tradeComments.length > 0
                            div.star-line(clicked="true" score="#{tradeOrderItems[0].tradeComments[0].score}")
                                div.star#score-1
                                div.star#score-2
                                div.star#score-3
                                div.star#score-4
                                div.star#score-5
                                div.score
                        else
                            div.star-line(clicked="false" )
                                div.star#score-1
                                div.star#score-2
                                div.star#score-3
                                div.star#score-4
                                div.star#score-5
                                div.score
                    li
                        div.desc 评论:
                        if tradeOrderItems.length > 0 && tradeOrderItems[0].tradeComments.length > 0
                            textarea #{tradeOrderItems[0].tradeComments[0].content}
                        else
                            textarea
                div.bar
                    button.button.button-flat-primary 确定
        a.button.button-flat.back-btn(href="/personal/order") 返回订单列表

block js
    script(src='#{staticFilter("//static.mgcheng.com/static/js/merge/personal_orderdetail.merge.js")}')
