extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.mgcheng.com/static/css/merge/personal_setting.merge.css")}')
block header
    div.mod-personal-header-wrap
        include ../share/header
        include ../share/personalHeader
block content
    div.mod-personal-setting
        div.block-title#personal-info-setting 资料设置
        div.personal-setting-block
            form.info-setting(method="post" action="")
                ul.info-wrap.wrap-type1
                    li.info-line
                        div.info-key 邮箱：
                        div.info-block
                            input.info-text-input#email(value='#{user.email}' readonly="readonly" disabled="disabled")
                    li.info-line
                        div.info-key <em>*</em>名称：
                        div.info-block
                            input.info-text-input#nickname(value='#{user.nickName}')
                    li.info-line
                        div.info-key 手机号：
                        div.info-block
                            input.info-text-input#mobile(value='#{user.mobile}')
                    li.info-line
                        div.info-key QQ：
                        div.info-block
                            input.info-text-input#qq(value='#{user.qq}')
                    li.info-line
                        div.info-key 微信：
                        div.info-block
                            input.info-text-input#wechat(value='#{user.wechat}')
                    li.info-line
                        div.info-key 性别：
                        div.info-block
                            select.info-select-box#gender(data-gender="#{user.gender}")
                                option(value='0') 不愿透露
                                option(value='1') 男士
                                option(value='2') 女生
                    li.info-line
                        div.info-key 生日：
                        div.info-block
                           input.birthday.info-text-input(readonly="readonly" type="text" value="#{user.birthday}")
                    li.info-line
                        div.info-key 所在地：
                        div.info-block.clr
                            div.f-l
                                select.info-select-box#country
                                    option(value='中国') 中国
                            div.province-panel.f-l
                    li.info-line
                        div.info-key 个性签名：
                        div.info-block
                            textarea.info-text-area#signature(maxlength="200") #{user.signature}
                    li.info-line
                        div.info-key &nbsp;
                        div.info-block.error 出错啦
                div.portrait-wrap
                    img.avatar-img(src="#{user.avatar['200']}")
                    button.upload-btn.button.button-flat-primary(type="button" value='上传') 上 &nbsp 传
                    p *请使用1M以内的.jpg, jpeg, .png图片
button.save-btn.button.button-flat-primary(type="submit" value='保存') 保 &nbsp 存

block js
    script(src='#{staticFilter("//static.mgcheng.com/static/js/merge/personal_setting.merge.js")}')

