extends ../share/layout
block css
    link(rel='stylesheet', href='#{staticFilter("//static.mgcheng.com/static/css/merge/search_photo.merge.css")}')
block header
    include ../share/header
block content
    div.mod-photo
        include photosearch

        div.result-rule-bar
            div.cell-space.rule-desc 显示顺序 >
            div.cell-space.rule-item#rule-item-active(data-order="2")
                a#score-rule 用户评价
            div.cell-space.rule-item(data-order="1")
                a#compr-rule 综合排序
            div.cell-space.rule-item(data-order="3")
                a#price-rule 服务价格
            div.cell-space.rule-item(data-order="5")
                a#trade-rule 交易次数
            div.cell-space.rule-item(data-order="6")
                a#photo-rule 作品量
        if !searchType || searchType == 'photographer'
            if !data.data || data.data.length == 0
                div 没有找到数据
            else
                each item, index in data.data
                    div.result-item-box.result-item-box-person
                        div.item-info-wrap
                            div.item-avatar
                                img(src='#{item.photographer.photoPath.replace("X_X", "120_120")}')
                            div.item-name #{item.photographer.nickName}
                            div.item-city #{item.photographer.city}
                            div.item-score
                                img(src="//static.mgcheng.com/static/css/profile/images/5stars.png")
                                div (4.9)
                            div.item-collections 作品集: 41
                            div.item-trades 交易数: 135
                            div.item-tags
                                div.tag #{item.photoType[0]}
                                div.tag #{item.photoStyle[0]}
                            div.item-description
                                div.quote-left-icon
                                span.detail(title="#{item.photographer.signature}") #{item.photographer.signature}
                                div.quote-right-icon
                        ul.item-packages-wrap
                            each pkg, packageIndex in item.photoPackages
                                li.item-package
                                    div.pack-name #{pkg.name}:
                                    div.pack-photo-num #{pkg.photoCount}张
                                    div.pack-time #{pkg.days}天
                                    div.pack-price #{pkg.price}
                        div.item-groups-wrap
                            div.groups-list-a
                                each collection, colIndex in item.photoCollections
                                    div.g-block-a
                                        if collection.coverPath
                                            img(src="#{collection.coverPath.replace('_X_X', '_THUMBNAIL_600_600')}")
        else
            if !data.data || data.data.length == 0
                div 没有找到数据
            else
            each item, index in data.data
                div.result-item-box.result-item-box-service
                    div.item-package-wrap
                        ul
                            li#pack-main-info
                                div.pack-name #{item.photoPackage.name}
                                div.pack-tags
                                    div.tag #{item.photoType[0]}
                                    div.tag #{item.photoStyle[0]}
                                div.pack-price
                                    span #{item.photoPackage.price}
                                    span.pack-price-unit 元
                            li#pack-overview
                                div.pack-icon.pack-icon-words.pack-location #{item.photoPackage.address.split('--')[2]}
                                div.pack-icon.pack-icon-words.pack-time #{item.photoPackage.days}天
                                div.pack-icon.pack-icon-words.pack-photo-num #{item.photoPackage.photoCount}张
                                div.pack-icon.pack-icon-words.pack-ps-yes #{item.photoPackage.alterCount}张
                                if item.photoPackage.printCount > 0
                                    div.pack-icon.pack-print-yes
                                if item.photoPackage.albumCount > 0
                                    div.pack-icon.pack-album-yes
                                if item.photoPackage.clothCount > 0
                                    div.pack-icon.pack-costume-yes
                                if item.photoPackage.isMakeup > 0
                                    div.pack-icon.pack-makeup-yes
                    div.item-person-wrap
                        div.person-avatar
                            img(src='#{item.photographer.photoPath.replace("X_X", "120_120")}')
                        div.person-name #{item.photographer.nickName}
                        div.person-city (广州)
                        div.person-collections 作品集:41
                        div.person-trade 交易数:135
                        div.person-score
                            img(src="//static.mgcheng.com/static/css/profile/images/5stars.png")
                            div (4.9)
                    div.item-groups-wrap
                        div.main-item-group(data-collectionId="#{item.photoPackage.reCollection}")
                            each photo, pindex in item.photoPackage.photos
                                a.item
                                    img(src="#{photo.photoPath.replace('_X_X', '_THUMBNAIL_100_100')}")
        div.page-wrap

block footer
    include ../share/footer
block js
    if !!data.pageCount
        script.
            window.pageConfig.page = {
                pageCount: #{data.pageCount},
                pageIndex: #{data.pageIndex},
                pageSize: #{data.pageSize},
                resultCount: #{data.resultCount},
                start: #{data.start}
            }
    script(src='#{staticFilter("//static.mgcheng.com/static/js/merge/search_photo.merge.js")}')