div.mod-profile-header
    div.profile-bg(style="background-image:url('#{owner.backPath.replace('_X_X', '_COMPRESS_')}')")
    div.user-info.clr
        div.f-l
            img.avatar-img(src="#{owner.avatar['200']}")
        div.user-detail.f-l
            div.user-title
                span#user-name #{owner.nickName}
                span ·
                span#user-city #{owner.addressBean.city}
            div.user-content
                div.info-item
                    span.info-key 作品集
                    span.info-value#user-collections #{owner.collectionCount}
                //- if owner.mobile
                    div.info-item
                        span.info-value #{owner.mobile}
                //- else if owner.email
                    div.info-item
                        span.info-value #{owner.email}
                //- div.info-item
                    span.info-key 交易
                    span.info-value#user-trades 138
                //- div.info-item
                    span.info-key 评价
                    span.info-value#user-score 9.1
            div.info-signature #{owner.signature}
    div.profile-nav
        ul.nav
            li.avatar-wrap
                img.avatar(src="#{owner.avatar['30']}")
                div.avatar-name #{owner.nickName}
            li
                if subTab == 'about'
                    a.active(href="/profile/about/#{owner.userName}") 个人介绍
                else
                    a(href="/profile/about/#{owner.userName}") 个人介绍
            li
                if subTab == 'index'
                    a.active(href="/profile/#{owner.userName}") 作品展示
                else
                    a(href="/profile/#{owner.userName}") 作品展示
            li
                if subTab == 'package'
                    a.active(href="/profile/package/#{owner.userName}") 套系预订
                else
                    a(href="/profile/package/#{owner.userName}") 套系预订
            //- li
                if subTab == 'trade'
                    a.active(href="/profile/trade/#{owner.userName}") 交易评价
                else
                    a(href="/profile/trade/#{owner.userName}") 交易评价