div.mod-profile-header
    div.profile-bg
    div.user-info.clr
        div.f-l
            img.avatar(src="//static.jspass.com/static/css/profile/images/avatar.jpg")
        div.user-detail.f-l
            div.user-name #{owner.userName}
    div.profile-nav
        ul.nav
            li.avatar-wrap
                img.avatar(src="//static.jspass.com/static/css/profile/images/avatar.jpg")
            li
                if subTab == 'about'
                    a.active(href="/profile/about/#{owner.id}") 关于
                else
                    a(href="/profile/about/#{owner.id}") 关于
            li
                if subTab == 'index'
                    a.active(href="/profile/#{owner.id}") 影集
                else
                    a(href="/profile/#{owner.id}") 影集
            li
                if subTab == 'package'
                    a.active(href="/profile/package/#{owner.id}") 套系预订
                else
                    a(href="/profile/package/#{owner.id}") 套系预订
            li
                if subTab == 'trade'
                    a.active(href="/profile/trade/#{owner.id}") 合作评价
                else
                    a(href="/profile/trade/#{owner.id}") 合作评价